<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Template AngularJS</title>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div class="container" ng-controller="myController">
    <h1>ng-repeat met filter</h1>
    <p>
        <input type="checkbox" ng-model="reversed"/>Omgekeerd sorteren <br>
        <input type="text" ng-model="naam" class="input-lg" placeholder="filter op naam..."/>
    </p>
    <ul>
        <li ng-repeat="person in persons | orderBy : 'name' : reversed | filter : {lastname : naam}">
            <a href="#" ng-click="showDetail(person)">
                {{ person.name | uppercase }} - {{ person.lastname | lowercase }}
            </a>
        </li>
        <li ng-if="numResults.length === 0">
            <strong>Geen resultaten gevonden...</strong>
        </li>
    </ul>
    <hr>
    <!-- 2. Details per persoon -->
    <div>
        <h3>{{ name }} {{ lastname }}</h3>
        <strong>{{ age }} jaar </strong>,
        <a href="mailto:{{email}}">{{ email }}</a>
    </div>
</div>
<script src="../js/vendor/angular/angular.min.js"></script>
<script src="../js/H03/app.js"></script>
<script src="../js/H03/controller.js"></script>
</body>
</html>

